[Unit]
Description=Headless autorun

[Service]
Type=simple
Environment=HASH_HOST='omega-488652'
ExecStart=/usr/local/bin/hash -w /media/hash

[Install]
WantedBy=multi-user.target
